// GOOGLE FONTS
// ----------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Oxygen');

// TYPOGRAPHY
// ----------------------------------------------
$hind-font: 'Hind', sans-serif;
$oxygen-font: 'Oxygen', sans-serif;
$paragraph-font-size: 13px;

// BRAND COLORS
// ----------------------------------------------
$blue-color:  #69BFFF;
$dark-blue-color: #447FAB;

body {
    font-family: $oxygen-font;
}

.container {
    width: 80%;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $blue-color;
    &:hover {
    text-decoration: none;
    color: $dark-blue-color;
    }
}

.header {
    background-color: $blue-color;
    text-align: center;
    width: 100%;
    height: 80px;
    p {
    text-transform: uppercase;
    color: #FFF;
    margin: auto auto;
    line-height: 80px;
    }     
}

.image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

h3.headline {
    text-transform: uppercase;
    color: black;
}

.caption p {
    text-align: left;
    font-style: italic;
    color: gray;
    padding: 10px 0 20px 0;
}

.footer {
    text-align: center;
    margin: 50px auto;
    .footer-links {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        li {
            padding: 10px;
        }
    }
}